.jumbotron {
  text-align: center;
  padding: 0px;
  margin: 70px 0px 0px 0px;
  border-radius: 10px;
}
.carousel-indicators .active {
  background-color: black;

}
.carousel-indicators li {
  border-color: black;


}

.carousel-indicators {
  bottom: 2px;
}

.row h3 {
  text-align:center;
}

.model-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.model-header {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

}


.row p {
  text-indent: 8px;
  padding: 8px;
}

.comeVisitItem {
  border-radius: 10px;

}

.item img{
  width:100%;

}


.carousel h1 {
  position: fixed;
  margin-left: 25%;
  margin-right: auto;

}

.item {
 height: 400px;
}
.bigContent {
  background-color: gray;
}

.bigContent h1 {
  font-size:  70px;
  font-family: monospace;
  color: black;
  font-weight: bold;
  padding: 20px;
  text-align: center;

}

.bigContent img {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;

}
